<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKyj0cgaMh71qkvVmv8mO9Wb1zRJ7RFwc</string>
	<key>GCM_SENDER_ID</key>
	<string>455841410084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forthProject</string>
	<key>PROJECT_ID</key>
	<string>forthp-57786</string>
	<key>STORAGE_BUCKET</key>
	<string>forthp-57786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455841410084:ios:350a534b40801230c8bcb1</string>
</dict>
</plist>